<a href="https://colab.research.google.com/github/falakj07/conditional-statements-/blob/main/Conditional_statements_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Experiment - 6
# Falak Jain
25070123047
Batch - A3

In [ ]:
#1a. check whether number is positive or negative
number = int(input("enter number : "))
if number > 0:
 print("positive")

else:
 print("negative")

enter number : 34
positive

In [ ]:
#2. Check whether a number is even or odd
num = int(input("enter the umber : "))
if num % 2 == 0:
  print("even")
else :
  print("odd")

enter the umber : 45
odd

In [ ]:
#4.Find the largest number of three numbers

number1 = int(input("enter the number : "))
number2 = int(input("enter the number : "))
number3 = int(input("enter the number : "))
if number1 >number2 and number1 >number3 :
  print("Number 1 is largest number: ")
elif number2 >number1 and number2 >number3 :
  print("Number 2 is largest number : ")
elif number3>number2 and number3>number1 :
  print("Number 3 is largest number : ")

enter the number : 45
enter the number : 67
enter the number : 35
Number 2 is largest number :

In [ ]:
#5.Grade for 5 subjects
subject1 = float(input("Enter the marks : "))
subject2 = float(input("Enter the marks :"))
subject3 = float(input("enter the number : "))
subject4 = float(input("enter the number : "))
subject5 = float(input("enter the number : "))
avg = (subject1 + subject2 + subject3 + subject4 + subject5)/5
print("Average marks are :  ")
if avg>90 :
  print("Grade O")
elif avg>=80  :
  print("Grade A + ")
 elif avg>=70 :
  print("Grade A")
 elif avg>=60 :
  print("Grade B +")
 elif avg>=50 :
  print("Grade B")
 else avg>=40
 print("Fail")

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 13)

In [ ]:
## 6 Check whether a year is a leap year
year = int(input("Enter an year: "))
if year % 4 == 0 and year % 100 != 0 or year % 400 == 0:
   print("The year is a leap year")
else :
  print("The year is not a leap year")

Enter an year: 2007
The year is not a leap year

In [ ]:
## 7 Check if a date is valid and print the incremented date if it is valid
date = input("Enter the date in format {dd/mm/yy}: ")
dd,mm,yy = date.split('/')
dd=int(dd)
mm=int(mm)
yy=int(yy)
if(mm==1 or mm==3 or mm==5 or mm==7 or mm==8 or mm==10 or mm==12):
  max_days= 31
elif (mm==4 or mm==6 or mm==9 or mm==11):
  max_days= 30
elif(yy%4==0 and yy%100!= 0 or yy%400==0):
  max_days= 29
else:
  max_days= 28
if(mm<1 or mm>12):
  print("date is invalid")
elif(dd<1 or dd>max_days):
  print("date is invalid")
elif(dd==max_days and mm!=12):
  dd=1
  mm=mm+1
  print("The incremented date is: ", dd,mm,yy)
elif(dd==31 and mm==12):
  dd=1
  mm=1
  yy=yy+1
  print("The incremented date is: ", dd,mm,yy)
else:
  dd=dd+1
  print("The incremented date is: ", dd,mm,yy)

Enter the date in format {dd/mm/yy}: 01/07/2007
The incremented date is:  2 7 2007

In [ ]:
## 8 Calculate the gross salary of an employee based on basic salary
# if basic <= 10000: HRA = 20%, DA= 80%
# if basic <= 20000: HRA = 25%, DA= 90%
# otherwise: HRA = 30%, DA = 95%

salary = int(input("Enter your salary: "))
b1 = (0.2*10000) + (0.8*10000)
b2 = (0.25*20000) + (0.9*20000)

if salary <= 10000 :
  print("gross salary is: ", salary+b1)
elif salary <= 20000 :
  print("gross salary is: ", salary+b2)
else:
  print("gross salary is: ", salary+ 0.3*salary + 0.95*salary)

Enter your salary: 15000
gross salary is:  38000.0

In [ ]:
## 9 Calculate income tax based on annual income
# up to rps 2,50,000: no tax
# 2,50,001 - 5,00,000: 5%
# 5,00,001 - 10,00,000: 20%
# above 10,00,000: 30%

income = int(input("Enter your annual income: "))

if income <= 250000:
  tax = 0
elif income <= 500000:
  tax = (income - 250000)* 0.05
elif income <= 1000000:
  tax = (250000*0.05) + (income- 500000) * 0.20
else :
  tax = (250000*0.05) + (500000 * 0.20) + (income - 1000000) * 0.30

print("Income tax: ", tax)

Enter your annual income: 200000
Income tax:  0